{% extends 'layout.html' %}

{% block content %}

    <h1>Posts</h1>

    {% for post in posts %}

    <div class="p-3">
        <div class="card card-body bg-black">
            <div class="row">
                <div class="col-3">
                    <img src="{{ post.image.url }}" alt="{{ post.title }}" class="img-fluid">
                </div>
                <div class="col-9">
                    <h2>{{ post.title }}</h2>
                    <p>{{ post.description|striptags|truncatechars:181 }}</p>
                    <p>{{ post.date|date:'M d Y'|upper }}</p>
            
                    <a href="{% url 'blog:post_detail' post.id %}" class="btn btn-primary">{{ post.title }}</a>  
                </div>
            </div>
        </div>
    </div>

    {% endfor %}

{% endblock %}